*{
  margin: 0px;
  padding: 0px;



}
h1{
  font: bold 70px tahoma;
  background-color: black;
  color: white;

}
h1,section,nav,p,header{
  display: block;



}
body{
  text-align: center;
  border: 1px solid black;
  width: 1000px;
  margin-top: 20px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}
header{
  text-align: left;


}
nav{
  text-align: left;
  display: inline;
  background-color: white;




}
ul,li{
  display: inline;
  font:bold 50px tahoma;
  background-color: grey;



}
section{
float: none;
margin: 400px;
font-family: monospace;
font-size: 25px;

}
a:link{
  color: black;
}
a:visited{
  color: blue;
}
a:hover{
  color: red;
}
a:active{
  color: grey;
}
